<h1><%= @formula.name %></h1>
<% unless @repository.main? %>
  <div class="subtitle">in <%= link_to @repository.name, letter_repository_formulae_path(@repository, @repository.first_letter), class: 'repo' %></div>
<% end %>

<div id="basic">
  <% if @formula.removed? %>
    <h2 class="removed">Formula was removed<br>Last version was:
  <% else %>
    <h2>Current versions:
  <% end %>
  <div class="versions">
    <% unless @formula.stable_version.nil? %>
      <strong class="version spec-stable"><%= @formula.stable_version %></strong>
    <% end %>
    <% unless @formula.devel_version.nil? %>
     <strong class="version spec-devel"><%= @formula.devel_version %></strong>
    <% end %>
    <% unless @formula.head_version.nil? %>
      <strong class="version spec-head"><%= @formula.head_version %></strong>
    <% end %>
  </div></h2>
  <% unless @formula.homepage.nil? %>
    <h2>Homepage: <em><%= link_to @formula.homepage, @formula.homepage %></em></h2>
  <% end %>
  <% unless (@formula.aliases || []).empty? %>
    Also known as: <strong><%= safe_join @formula.aliases, '</strong>, <strong>'.html_safe %></strong><br>
  <% end %>
  <% if @formula.keg_only? %>
    <strong>This formula is <abbr title="A keg-only formula won't be symlinked automatically.">keg-only</abbr>.</strong><br>
  <% end %>
</div>

<% unless @formula.deps.empty? %>
  <div id="deps">
    <h2>Dependencies</h2>
      <%= t '.deps_html', name: @formula.name, count: @formula.deps.size %>
    <ul>
      <% @formula.deps.order_by([:name, :asc]).each do |dep| %>
        <%= render partial: 'formula', locals: { formula: dep } %>
      <% end %>
    </ul>
  </div>
<% end %>

<% reset_cycle %>

<% unless @formula.revdeps.where(removed: false).empty? %>
  <div id="revdeps">
    <h2>Reverse dependencies</h2>
    <%= t '.revdeps_html', name: @formula.name, count: @formula.revdeps.size %>
    <ul>
      <% @formula.revdeps.where(removed: false).order_by([:name, :asc]).each do |revdep| %>
        <%= render partial: 'formula', locals: { formula: revdep } %>
      <% end %>
    </ul>
  </div>
<% end %>

<% unless @revisions.empty? %>
<div id="history">
  <h2>Formula history</h2>
  <table>
  <% @revisions.each_with_index do |rev, i| %>
    <tr<% if i == 0 %> class="current"<% elsif i > 9 %> class="hidden"<% end %>>
      <td class="author">
        <%= link_to '', "https://github.com/#{@repository.name}/commit/#{rev.sha}##{@formula.path}" %>
        <%= rev.author.name %></td>
      <td class="subject">
        <%= link_to '', "https://github.com/#{@repository.name}/commit/#{rev.sha}##{@formula.path}" %>
        <%= rev.subject %>
      </td>
      <td class="date">
        <%= link_to '', "https://github.com/#{@repository.name}/commit/#{rev.sha}##{@formula.path}" %>
        <%= timestamp rev.date %>
      </td>
    </tr>
    <% if i == 9 %>
    <tr class="show-all">
      <td colspan="3">
        <%= icon 'long-arrow-down' %>
        Show all revisions of this formula
        <%= icon 'long-arrow-down' %>
      </td>
    </tr>
    <% end %>
  <% end %>
  </table>
</div>
<% end %>
